.App {
  text-align: center;
  color: white; 
}

.App-logo {
  animation: App-logo infinite 20s linear;
  height: 80px;
  
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


button{
  margin-right: 9px;
  font-size: 18px;
  height: 45px;
  width: 85px;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
  background: linear-gradient(135deg, #3282b8 0%,#ebecf1 50%,#89c9b8 51%,#005dff 100%);
  cursor: pointer;
}

.two-column{
  display: grid;
  grid-template-columns: 600px 300px;
  grid-template-rows: repeat(5,20px);
  align-items: left ;
  height: 120px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
